body {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400; }

h1 {
  font-size: 70px;
  font-weight: 700; }

h4 {
  font-size: 21px;
  font-weight: 700; }

h5 {
  font-size: 17px;
  font-weight: 700; }

.menu {
  padding-left: 97px;
  padding-right: 90px;
  padding-top: 60px;
  background: #0cb3f8; }

.row {
  background: #222222;
  position: relative;
  padding-left: 97px;
  padding-right: 97px;
  padding-top: 100px;
  color: white; }

body .row.hero-image {
  background: #0cb3f8;
  padding-top: 30px;
  font-size: 21px;
  padding-left: 97px; }

body .row #background {
  background: rbg(245, 244, 244); }

body .row .description {
  padding-top: 100px;
  color: white; }

body .row .price {
  background: white;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #242526; }

body .row .price.alt {
  background: blue;
  color: white; }

body .row .subscribe {
  background-image: url("../images/cliff.png");
  color: white;
  padding-top: 5rem;
  padding-bottom: 7rem; }

body .row .subscribe .user-email {
  border: none;
  background-color: rgba(146, 146, 146, 0.33);
  border-radius: 5px;
  padding: 0.8rem;
  font-size: 11px;
  width: 350px; }

body .row .subscribe .email-button {
  background-color: white;
  border: none;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 700;
  box-shadow: 10px 5px 8px #222222;
  letter-spacing: 1px;
  margin-left: -20px; }

body .row .bottoms {
  padding: 3rem; }
